<h1>About Blocipedia</h1>
<p>Created by: Jeffrey Liu</p>

<div class="row">
  <div class="col-md-8">
    <h3>User Stories</h3>
      <ul>1. As a user, I want to <b>sign up</b> for a free account by providing a user name, password and email.</ul>
      <ul>2. As a user, I want to be able to sign in and out of Bloccipedia.</ul>
      <ul>3. As a user with a standard (free) account, I want <b>create, read, update, and delete</b> public wikis which anyone can view.</ul>
      <ul>4. User accounts should have one of three roles: admin, standard (free), or premium.</ul>
      <ul>5. As a developer, I want the development database to be automatically seeded with users and wikis.</ul>
      <ul>6. As a user I want <b>upgrade</b> my account from a free plan to a paid (premium) plan.</ul>
      <ul>7. As a user with a premium account, I want to <b>create</b> private wikis which require a Blocipedia account and proper authorization to view.</ul>
      <ul>8. As a user, I want to <b>edit</b> wikis using Markdown syntax.</ul>
      <ul>9. As a user with a premium account, I want to add and remove collaborators to my private wikis.</ul>
  </div>
</div>
